:root {
    --gris: #e4e3e3;
    --morado: #c14786;
    --naranja: #f3903e;
    --negro: #000000;
    --blanco: #ffffff;

    --fuente: 'roboto', sans-serif;
}

/*hacks y globales*/
html {
    font-size: 62.5%;
    /* 1 rem = 10px */
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    /*Hack para box model*/
}

body {
    font-size: 1.6rem;
    background-color: var(--morado);
    color: var(--negro);
    font-family: var(--fuente);
    margin: 0;
}

/* Tipografia */
h1 {
    font-size: 4rem;
    font-weight: 700;
}

h3 {
    font-size: 2.5rem;
}


a {
    text-decoration: none;
    color: var(--blanco);
}

/* ----- Main ----- */

main {
    width: min(90%, 120rem);
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
}

.card {
    background-color: rgba(230, 230, 230, .2);
    padding: 1rem;
    border-radius: 1rem;
}

.cont__card {

    height: 40rem;
    width: 25rem;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.card__titulo {
    line-height: .5;
}

.img {
    width: 20rem;
    height: 20rem;
    transition: transform 0.3s ease-in-out;
    transform-origin: left center;
}

.img:hover {
    transform: rotate(-30deg) scale(1.4);
}
